*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$color-p1: #CCD5AE;
$color-p2: #E9EDC9;
$color-p3: #FEFAE0;
$color-p4: #FAEDCD;
$color-p5: #D4A373;
$color-p6: #806953;

$color-aux1: rgb(211, 238, 238);
$color-aux2: rgb(152, 230, 230);
$color-aux3: rgb(78, 78, 78);

/* barra de navegación - menú principal */
.navbar{
    height: 80px;

    .navbar-brand{
        background-color: #fff !important;  
        color: black !important;
        padding-left: 10px;

        img{
            height: 60px;
        }
        span{
            padding-right: 20px;
        }
    }
}

/* Galeria */
.portada1{
    background-color: $color-p6;
}
.portada2{
    background-color: $color-aux1;
}
.imagen{
    width: 495px;
    padding: 0;
}
.linea{
    border-top: 1px solid black;
    max-width: 100px;
    margin: 30px auto 20px auto;
}

@mixin contenedor-texto-home($largo, $ancho, $alto, $color) {
    height: $largo;
    width: $ancho;
    background-color: $color;
    padding-top: $alto;
    text-align: center;
}

.texto1{
    @include contenedor-texto-home(495px, 495px, 180px, $color-p4);
}
.texto2{
    @include contenedor-texto-home(495px, 495px, 180px, $color-aux2);
}

/* cards de las características del producto */
.tarjetas{
    background-color: $color-p4;
    padding: 20px;
}
.tit-tarjetas{
    text-align: center !important;
    padding-top: 40px;
}
.tarj-h{
    padding: 20px;

    img {
        padding: 50px;
    }
}

/* suscripción al boletín */
.boletin{
    height: 300px;
    background-image: linear-gradient(to bottom, $color-p1, $color-aux3);

    .tit-boletin{
        padding-top: 40px;
        text-align: center;
    }

    .email-form{
        margin-bottom: 10px;
    }
}

/* footer */
.pie-pag{
    padding: 20px;
}

/* página COLECCION */

/* título de la galería */
.tit-galeria{
    padding: 20px;
    text-align: center;
    font-size: medium;
    background-color: $color-p6;
}

.columna-c{
    padding: 20px;

    .tarj-c{
        padding: 20px;

        img{
            transition: all 1s;
        }

        img:hover{
            transform: scale(0.9);
        }
    }
}